<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>loop_feeds</key>
	<dict>
		<key>garageband</key>
		<dict>
			<key>2016</key>
			<array>
				<string>garageband1016.plist</string>
				<string>garageband1015.plist</string>
				<string>garageband1012.plist</string>
				<string>garageband1011.plist</string>
			</array>
		</dict>
		<key>logicpro</key>
		<dict>
			<key>2016</key>
			<array>
				<string>logicpro1030.plist</string>
				<string>logicpro1023.plist</string>
				<string>logicpro1022.plist</string>
			</array>
		</dict>
		<key>mainstage</key>
		<dict>
			<key>2016</key>
			<array>
				<string>mainstage324.plist</string>
			</array>
		</dict>
	</dict>
	<key>loop_years</key>
	<array>
		<string>2016</string>
	</array>
</dict>
</plist>
